.button{
  display: inline-block;
  text-align: center;

  &--red{
    background-color: $_red;
    color: $_white;
    height: 50px;
    @include padding(0 25px);
    line-height: 46px;
    min-width: 200px;

    &:hover{
      background-color: darken($_red, 10%);
      color: $_white;
    }
  }
}
